
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40.0000 60.0000% 98.0392%;
    --foreground: 24.0000 9.8039% 10.0000%;
    --card: 0.0000 0.0000% 100.0000%;
    --card-foreground: 24.0000 9.8039% 10.0000%;
    --popover: 0.0000 0.0000% 100.0000%;
    --popover-foreground: 24.0000 9.8039% 10.0000%;
    --primary: 0.0000 100.0000% 27.2549%;
    --primary-foreground: 0 0% 98%;
    --secondary: 32.7273 35.4839% 93.9216%;
    --secondary-foreground: 24.0000 9.8039% 10.0000%;
    --muted: 32.7273 35.4839% 93.9216%;
    --muted-foreground: 25.0000 5.2632% 44.7059%;
    --accent: 32.7273 35.4839% 93.9216%;
    --accent-foreground: 24.0000 9.8039% 10.0000%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 20.0000 5.8824% 90.0000%;
    --input: 20.0000 5.8824% 90.0000%;
    --ring: 0.0000 100.0000% 27.2549%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 24.0000 9.8039% 10.0000%;
    --foreground: 20.0000 5.8824% 90.0000%;
    --card: 12.0000 6.4935% 15.0980%;
    --card-foreground: 20.0000 5.8824% 90.0000%;
    --popover: 12.0000 6.4935% 15.0980%;
    --popover-foreground: 20.0000 5.8824% 90.0000%;
    --primary: 30.0000 100.0000% 60.0000%;
    --primary-foreground: 0 0% 10%;
    --secondary: 12.0000 6.4935% 15.0980%;
    --secondary-foreground: 20.0000 5.8824% 90.0000%;
    --muted: 12.0000 6.4935% 15.0980%;
    --muted-foreground: 32.7273 7.0064% 69.2157%;
    --accent: 12.0000 6.4935% 15.0980%;
    --accent-foreground: 20.0000 5.8824% 90.0000%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 30.0000 6.2500% 25.0980%;
    --input: 30.0000 6.2500% 25.0980%;
    --ring: 30.0000 100.0000% 60.0000%;
  }

  .sepia {
    --background: 60 33% 99%;
    --foreground: 0 0% 23%;
    --card: 60 33% 99%;
    --card-foreground: 0 0% 23%;
    --popover: 60 33% 99%;
    --popover-foreground: 0 0% 23%;
    --primary: 27 22% 56%;
    --primary-foreground: 60 33% 99%;
    --secondary: 30 11% 90%;
    --secondary-foreground: 0 0% 23%;
    --muted: 30 11% 90%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 30 11% 79%;
    --accent-foreground: 0 0% 23%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 11% 79%;
    --input: 30 11% 79%;
    --ring: 27 22% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  ::selection {
    @apply bg-primary/20 text-foreground;
  }
}
